---
layout: default
title: Shuo Zheng's Home
---

<div id="home" class="row">
  

  <div class="col-md-4">


  	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">Category</h3>
	  </div>
	  <div class="panel-body">
	    <table>
	    {% for category in site.categories %}
	  	    <tr>
	  			<td>
			    	<span class="glyphicon glyphicon-tag"></span>
			    	<a href="categories{{ category | first }}" title="view all
						posts">{{ category | first }} {{ category | last | size }}</a>
			    	
		    	</td>
		    </tr>
		{% endfor %}
		</table>
	  </div>
	</div>

  	
  </div>

  <div class="col-md-8">

  	  <div class="panel panel-success">
	  <div class="panel-heading">
	    <h3 class="panel-title">Blog Posts</h3>
	  </div>
	  <div class="panel-body">
	    <ul class="posts">
		{% for post in site.posts %}
		  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	  </ul>
	  </div>
	</div>
	  
  </div>
  
  
  
  
  

</div>